name: Generate Single Movie Spotlight

on:
  workflow_dispatch:
    inputs:
      tmdb_id:
        description: "TheMovieDB ID of the movie"
        required: true
        type: string

jobs:
  generate:
    name: Generate content
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version-file: .node-version

      - name: Install dependencies
        run: npm ci

      - name: Install Playwright browsers
        run: npx playwright install chromium

      - name: Download combined data
        uses: clusterflick/release-downloader@v2
        with:
          token: ${{ secrets.PAT }}
          repository: "clusterflick/data-combined"
          latest: true
          fileName: "*"
          out-file-path: "combined-data"

      - name: Download matched data
        uses: clusterflick/release-downloader@v2
        with:
          token: ${{ secrets.PAT }}
          repository: "clusterflick/data-matched"
          latest: true
          fileName: "*"
          out-file-path: "matched-data"

      - name: Generate single movie content
        run: npm run generate:single-movie -- ${{ inputs.tmdb_id }}

      - name: Take screenshot
        run: npm run screenshot:single-movie

      - name: Upload text output
        uses: actions/upload-artifact@v4
        with:
          name: social-media-text
          path: output/single-movie_*.txt

      - name: Upload screenshot
        uses: actions/upload-artifact@v4
        with:
          name: screenshot
          path: output/single-movie_*.png

      - name: Upload HTML
        uses: actions/upload-artifact@v4
        with:
          name: html
          path: site/single-movie.html
